
<mat-toolbar  class="navbar">
   <img src="../../../assets/logo1.png" alt="" class="nav_img">
     <div class="nav_items">
      <aside class="items">
         <span routerLink="/productpage">GO-home</span>
       </aside>
       <aside class="items">
         <span routerLink="/">MEN</span>
       </aside>
       <aside class="items">
         <span routerLink="/">WOMEN</span>
       </aside>
       <aside class="items">
         <span routerLink="/">COLLECTION</span>
       </aside>
       <aside class="items">
         <span class="material-icons-outlined">
            search
        </span>
         <input type="text" [(ngModel)]="searchItem" placeholder="Search...">
       </aside>
       <aside class="items">
 
         <span class="material-icons-outlined icon-color">
            shopping_bag
            </span>
       </aside>
       <aside class="items">
         <span class="material-icons-outlined icon-colortwo">
            grid_view
            </span>
       </aside>
       <aside>
       </aside>
     </div>
</mat-toolbar>





<section>
   <div class="bigImg">
      <img src="../../../assets/shoes-17770.png" alt="" class="center-img">
   </div>
<div class="container2">

    <div class="body-note">
        <ul>
           <li class="head">Airmax  <span class="text-color">270</span> </li>
           <li class="text-color">React</li>
           <li>$270</li>
        </ul>
        <ul>
           <li>crer</li>
           <li>ASZDxfcgvbhnj</li>
       
        <button>bye</button>

    </ul>
    <div class="curved">
      
    </div>

   </div>
   <div class="heading">
     <h1>NIKE</h1>
   </div>
 
   <div class="rotating">
    <div class="threeimg ">
        <img src="../../../assets/shoes-17770.png" alt="" class="sheospng">
        <img src="../../../assets/shoes-17793.png" alt="" class="sheospng">
        <img src="../../../assets/shoes-17818.png" alt="" class="sheospng">
     </div>
     <div>
        <img src="../../../assets/pngwing.com.png" alt="" class="rotate">
     </div>
  </div>

</div>


</section>